Linux/C/prime3
Linux/C/prime4
Linux/cobol/prime3
Linux/cobol/prime4
Linux/Python/.idea/modules.xml
Linux/Python/.idea/misc.xml
Linux/Python/.idea/Python.iml
Linux/Python/.idea/inspectionProfiles/profiles_settings.xml
Pseudocode/prime1.pdf
Pseudocode/prime2.pdf
Pseudocode/prime3.pdf
Pseudocode/prime4.pdf
Windows/cmd/file1.bat
Windows/cmd/prime1.bat.log
Windows/cmd/prime2.bat.log
Windows/cmd/prime3.bat.log
Windows/cmd/prime4.bat.log
Windows/cmd/runtime.exe
Windows/cs/prime3/.vs/prime3/FileContentIndex/d866a41f-58f2-46f7-82f6-6157331fc51a.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/f81b9284-c382-4738-b5a2-ace1ae77f624.vsidx
Windows/cs/prime3/.vs/prime3/v17/.suo
Windows/cs/prime3/.vs/prime3/v17/DocumentLayout.backup.json
Windows/cs/prime3/.vs/prime3/v17/DocumentLayout.json
Windows/cs/prime3/prime3/bin/Debug/prime3.exe.config
Windows/cs/prime3/prime3/bin/Debug/prime3.pdb
Windows/cs/prime3/prime3/bin/Debug/prime3.exe
Windows/cs/prime3/prime3/bin/Release/prime3.exe
Windows/cs/prime3/prime3/bin/Release/prime3.exe.config
Windows/cs/prime3/prime3/bin/Release/prime3.pdb
Windows/cs/prime3/prime3/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime3/prime3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Windows/cs/prime3/prime3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime3/prime3/obj/Debug/prime3.csproj.AssemblyReference.cache
Windows/cs/prime3/prime3/obj/Debug/prime3.csproj.CoreCompileInputs.cache
Windows/cs/prime3/prime3/obj/Debug/prime3.csproj.FileListAbsolute.txt
Windows/cs/prime3/prime3/obj/Debug/prime3.exe
Windows/cs/prime3/prime3/obj/Debug/prime3.pdb
Windows/cs/prime3/prime3/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime3/prime3/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime3/prime3/obj/Release/prime3.csproj.AssemblyReference.cache
Windows/cs/prime3/prime3/obj/Release/prime3.csproj.CoreCompileInputs.cache
Windows/cs/prime3/prime3/obj/Release/prime3.csproj.FileListAbsolute.txt
Windows/cs/prime3/prime3/obj/Release/prime3.exe
Windows/cs/prime3/prime3/obj/Release/prime3.pdb
Windows/cs/prime3/prime3/Properties/AssemblyInfo.cs
Windows/cs/prime4/.vs/prime4/FileContentIndex/61b0acf9-869d-452b-b3ca-005ec0b15931.vsidx
Windows/cs/prime4/.vs/prime4/FileContentIndex/2818cf89-f060-461f-9b0a-ef26482e3d1d.vsidx
Windows/cs/prime4/.vs/prime4/v17/.suo
Windows/cs/prime4/.vs/prime4/v17/DocumentLayout.backup.json
Windows/cs/prime4/.vs/prime4/v17/DocumentLayout.json
Windows/cs/prime4/prime4/App.config
Windows/cs/prime4/prime4/bin/Debug/prime4.exe
Windows/cs/prime4/prime4/bin/Debug/prime4.exe.config
Windows/cs/prime4/prime4/bin/Debug/prime4.pdb
Windows/cs/prime4/prime4/bin/Release/prime4.exe
Windows/cs/prime4/prime4/bin/Release/prime4.exe.config
Windows/cs/prime4/prime4/bin/Release/prime4.pdb
Windows/cs/prime4/prime4/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime4/prime4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime4/prime4/obj/Debug/prime4.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4/obj/Debug/prime4.csproj.CoreCompileInputs.cache
Windows/cs/prime4/prime4/obj/Debug/prime4.csproj.FileListAbsolute.txt
Windows/cs/prime4/prime4/obj/Debug/prime4.exe
Windows/cs/prime4/prime4/obj/Debug/prime4.pdb
Windows/cs/prime4/prime4/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime4/prime4/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime4/prime4/obj/Release/prime4.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4/obj/Release/prime4.csproj.CoreCompileInputs.cache
Windows/cs/prime4/prime4/obj/Release/prime4.csproj.FileListAbsolute.txt
Windows/cs/prime4/prime4/obj/Release/prime4.pdb
Windows/cs/prime4/prime4/obj/Release/prime4.exe
Windows/cs/prime4/prime4/Properties/AssemblyInfo.cs
Linux/java/prime3.class
Linux/java/prime4.class
Linux/C++/prime3
Linux/C++/prime4
Windows/cs/prime3/.vs/prime3/FileContentIndex/5bfc2ee3-2bfd-43bb-8860-859b49e2b89d.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/bdea9268-34be-478f-b060-01d4cef6a25c.vsidx
Windows/Python/__pycache__/prime3.cpython-39.pyc
Windows/Python/__pycache__/prime4.cpython-39.pyc
Linux/C/prime3a
Linux/C/prime4a
Linux/cobol/prime3a
Linux/java/Prime.class
Linux/java/prime3a.class
Linux/java/prime4a.class
Linux/cobol/prime4a
Windows/cobol/prime3.exe
Linux/cobol/prime5a
Windows/cs/prime3/.vs/prime3/FileContentIndex/1b6510cd-35ba-4607-9dd9-6ceadba72ad3.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/55ea2f29-5a38-49a9-80a2-beb465756d36.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/593f192d-a238-4506-8419-42902932d0f1.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/f1731dcb-271f-48f0-b10d-cf6c1861dc16.vsidx
Windows/cs/prime3/prime3a/bin/Release/prime3a.exe.config
Windows/cs/prime3/prime3a/bin/Release/prime3a.log
Windows/cs/prime3/prime3a/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime3/prime3a/obj/Release/prime3a.exe
Windows/cs/prime3/prime3a/obj/Release/prime3a.pdb
Windows/cs/prime4/.vs/prime4/FileContentIndex/3f238f87-4ff6-4d78-922f-cc227c94b103.vsidx
Windows/cs/prime4/.vs/prime4/FileContentIndex/5e625098-3cb4-491d-93fa-d47e20c16088.vsidx
Windows/cs/prime4/.vs/prime4/FileContentIndex/25e203f5-833c-4d43-9d8c-eabc8373db28.vsidx
Windows/cs/prime4/.vs/prime4/FileContentIndex/73aa7f2d-97c5-47cc-9514-4ee01bf8cdea.vsidx
Windows/cs/prime4/.vs/prime4/FileContentIndex/ae60b006-8eda-4274-82c5-773fb61a5576.vsidx
Windows/cs/prime3/prime3a/bin/Release/prime3a.exe
Windows/cs/prime3/prime3a/bin/Release/prime3a.pdb
Windows/cs/prime3/prime3a/obj/Release/DesignTimeResolveAssemblyReferences.cache
Windows/cs/prime3/prime3a/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime3/prime3a/obj/Release/prime3a.csproj.AssemblyReference.cache
Windows/cs/prime3/prime3a/obj/Release/prime3a.csproj.CoreCompileInputs.cache
Windows/cs/prime3/prime3a/obj/Release/prime3a.csproj.FileListAbsolute.txt
Windows/cs/prime3/obj/Release/prime4a.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Windows/cs/prime4/prime4a/bin/Debug/prime4a.exe
Windows/cs/prime4/prime4a/bin/Debug/prime4a.exe.config
Windows/cs/prime4/prime4a/bin/Debug/prime4a.pdb
Windows/cs/prime4/prime4a/bin/Release/prime4a.exe
Windows/cs/prime4/prime4a/bin/Release/prime4a.exe.config
Windows/cs/prime4/prime4a/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime4/prime4a/obj/Debug/prime4a.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4a/obj/Debug/prime4a.csproj.CoreCompileInputs.cache
Windows/cs/prime4/prime4a/obj/Debug/prime4a.csproj.FileListAbsolute.txt
Windows/cs/prime4/prime4a/obj/Debug/prime4a.exe
Windows/cs/prime4/prime4a/obj/Debug/prime4a.pdb
Windows/cs/prime4/prime4a/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime4/prime4a/obj/Release/prime4a.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4a/obj/Release/prime4a.csproj.CoreCompileInputs.cache
Windows/cs/prime4/prime4a/obj/Release/prime4a.csproj.FileListAbsolute.txt
Windows/cs/prime4/prime4a/obj/Release/prime4a.exe
Windows/cs/prime4/prime4a/obj/Release/prime4a.pdb
Windows/cs/prime4/prime4a/bin/Release/prime4a.pdb
Windows/cs/prime4/prime4a/bin/Release/prime4a.log
Windows/js/prime3a.log
Windows/js/node_modules
Windows/js/prime4a.log
Windows/js/package-lock.json
Windows/js/package.json
