Linux/C/prime3
Linux/C/prime4
Linux/cobol/prime3
Linux/cobol/prime4
Linux/Python/.idea/modules.xml
Linux/Python/.idea/misc.xml
Linux/Python/.idea/Python.iml
Linux/Python/.idea/inspectionProfiles/profiles_settings.xml
Pseudocode/prime1.pdf
Pseudocode/prime2.pdf
Pseudocode/prime3.pdf
Pseudocode/prime4.pdf
Windows/cmd/file1.bat
Windows/cmd/prime1.bat.log
Windows/cmd/prime2.bat.log
Windows/cmd/prime3.bat.log
Windows/cmd/prime4.bat.log
Windows/cmd/runtime.exe
Windows/cs/prime3/.vs/prime3/FileContentIndex/d866a41f-58f2-46f7-82f6-6157331fc51a.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/f81b9284-c382-4738-b5a2-ace1ae77f624.vsidx
Windows/cs/prime3/.vs/prime3/v17/.suo
Windows/cs/prime3/.vs/prime3/v17/DocumentLayout.backup.json
Windows/cs/prime3/.vs/prime3/v17/DocumentLayout.json
Windows/cs/prime3/prime3/bin/Debug/prime3.exe.config
Windows/cs/prime3/prime3/bin/Debug/prime3.pdb
Windows/cs/prime3/prime3/bin/Debug/prime3.exe
Windows/cs/prime3/prime3/bin/Release/prime3.exe
Windows/cs/prime3/prime3/bin/Release/prime3.exe.config
Windows/cs/prime3/prime3/bin/Release/prime3.pdb
Windows/cs/prime3/prime3/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime3/prime3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Windows/cs/prime3/prime3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime3/prime3/obj/Debug/prime3.csproj.AssemblyReference.cache
Windows/cs/prime3/prime3/obj/Debug/prime3.csproj.CoreCompileInputs.cache
Windows/cs/prime3/prime3/obj/Debug/prime3.csproj.FileListAbsolute.txt
Windows/cs/prime3/prime3/obj/Debug/prime3.exe
Windows/cs/prime3/prime3/obj/Debug/prime3.pdb
Windows/cs/prime3/prime3/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime3/prime3/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime3/prime3/obj/Release/prime3.csproj.AssemblyReference.cache
Windows/cs/prime3/prime3/obj/Release/prime3.csproj.CoreCompileInputs.cache
Windows/cs/prime3/prime3/obj/Release/prime3.csproj.FileListAbsolute.txt
Windows/cs/prime3/prime3/obj/Release/prime3.exe
Windows/cs/prime3/prime3/obj/Release/prime3.pdb
Windows/cs/prime3/prime3/Properties/AssemblyInfo.cs
Windows/cs/prime4/.vs/prime4/FileContentIndex/61b0acf9-869d-452b-b3ca-005ec0b15931.vsidx
Windows/cs/prime4/.vs/prime4/FileContentIndex/2818cf89-f060-461f-9b0a-ef26482e3d1d.vsidx
Windows/cs/prime4/.vs/prime4/v17/.suo
Windows/cs/prime4/.vs/prime4/v17/DocumentLayout.backup.json
Windows/cs/prime4/.vs/prime4/v17/DocumentLayout.json
Windows/cs/prime4/prime4/App.config
Windows/cs/prime4/prime4/bin/Debug/prime4.exe
Windows/cs/prime4/prime4/bin/Debug/prime4.exe.config
Windows/cs/prime4/prime4/bin/Debug/prime4.pdb
Windows/cs/prime4/prime4/bin/Release/prime4.exe
Windows/cs/prime4/prime4/bin/Release/prime4.exe.config
Windows/cs/prime4/prime4/bin/Release/prime4.pdb
Windows/cs/prime4/prime4/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime4/prime4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime4/prime4/obj/Debug/prime4.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4/obj/Debug/prime4.csproj.CoreCompileInputs.cache
Windows/cs/prime4/prime4/obj/Debug/prime4.csproj.FileListAbsolute.txt
Windows/cs/prime4/prime4/obj/Debug/prime4.exe
Windows/cs/prime4/prime4/obj/Debug/prime4.pdb
Windows/cs/prime4/prime4/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Windows/cs/prime4/prime4/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Windows/cs/prime4/prime4/obj/Release/prime4.csproj.AssemblyReference.cache
Windows/cs/prime4/prime4/obj/Release/prime4.csproj.CoreCompileInputs.cache
Windows/cs/prime4/prime4/obj/Release/prime4.csproj.FileListAbsolute.txt
Windows/cs/prime4/prime4/obj/Release/prime4.pdb
Windows/cs/prime4/prime4/obj/Release/prime4.exe
Windows/cs/prime4/prime4/Properties/AssemblyInfo.cs
Linux/java/prime3.class
Linux/java/prime4.class
Linux/C++/prime3
Linux/C++/prime4
Windows/cs/prime3/.vs/prime3/FileContentIndex/5bfc2ee3-2bfd-43bb-8860-859b49e2b89d.vsidx
Windows/cs/prime3/.vs/prime3/FileContentIndex/bdea9268-34be-478f-b060-01d4cef6a25c.vsidx
Windows/Python/__pycache__/prime3.cpython-39.pyc
Windows/Python/__pycache__/prime4.cpython-39.pyc
Linux/C/prime3a
Linux/C/prime4a
Linux/cobol/prime3a
Linux/java/Prime.class
Linux/java/prime3a.class
Linux/java/prime4a.class
Linux/cobol/prime4a
